* {
   margin:0; 
   padding:0;
  font-family: "chaparral-pro";
   	 background: #efeff3;
}	
h1 {
	font-family: "aktiv-grotesk" !important;
	  font-size: 56px;
}

html {
   overflow:hidden;

}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

a {
	color: #105B63;
}
.brandcolor {
	color: #BD4932
}

#list {
	font-size: 20px;
}